.section{
    display: flex;
}
.section__title{
    font-size: 40px;
    color: #ffffff;
}

.section__form{
    display: flex;
    flex-direction: column;
}
.section__form-pass{
    display: flex;
}
.section__input{
    margin-top: 20px; 
    padding: 10px 5px;
    font-size: 14px;
}

.section__input-checkbox{
    color: #ffffff;
}

@media (max-width: 308px){
    .container{
        padding: 0 4%;
        max-width: 100%;
    }
    .section__form-pass{
        display: block;
    }
}