@import './components/nav.css'; 
@import './components/form.css'; 
@import './components/hero.css'; 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
*{
    margin: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
body {
    background-color: #000000;
}
.container{
    width: 100%;
    max-width: 700px;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.app{
    display: flex; 
}
.app__hero{
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: #44eb7c;
    height: 100vh;
}
.app__form{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.section{ 
    height: 100%;
}

.section__products{
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px){
    .container{
        padding: 0 4%;
        max-width: 100%;
    }
    .app__hero{
        display: none;
    }
    .app__form{
        width: 100%;
    }
}